@font-face {
  font-family: 'Fira Code';
  src: url('@/assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

$white: #EAEAEA;
$grey: #D3D3D3;
$primary: #154734;

$font-family: 'Fira Code', monospace;