@import '@/styles/vars';
@import '@/styles/base';

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left-side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  a {
    color: $primary;
    text-decoration: none;
    transition: color 0.3s;
    transition: opacity 0.3s;
    opacity: 0.7;

    &:hover {
      color: darken($primary, 5%);
      opacity: 1;
    }
  }
}

form {
  margin-top: 50px;
}

.right-side {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($primary, 20%);
  border-radius: 30px;
  transition: background-color 0.5s;

  img {
    transition: transform 0.3s;
  }

  &:hover {
    background-color: lighten($primary, 10%);

    img {
      transform: scale(1.1);
    }
  }
}

.submit-button {
  width: 50%;
  padding: 1rem;
  border: 1px solid $gray;
  border-radius: 5px;
  font-size: 1rem;
  color: $white;
  transition: border-color 0.3s;
  transition: background-color 0.3s;
  font-family: $font-family;
  cursor: pointer;
  background-color: $primary;

  &:hover {
      border-color: $primary;
      background-color: darken($primary, 5%);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 0.5rem;

  .input-wrapper {
      position: relative;
      width: 90%;

      input {
          flex: 1;
          width: 100%;
          padding: 1rem;
          border: 1px solid $gray;
          border-radius: 5px;
          font-size: 1rem;
          transition: border-color 0.3s;
          font-family: $font-family;

          &:focus {
              border-color: $primary;
          }
      }

      .toggle-password {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          font-size: 1.2rem;
          color: $gray; 

          &:hover {
              color: $primary;
          }
      }
  }

  label {
      font-size: 1rem;
      font-weight: 500;
      opacity: 0.5;
  }

  *:focus {
      outline: none;
  }

  .toggle-password {
    margin-top: 1rem;
    
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
