@import '@/styles/vars.scss';

.submit-button {
    flex: 1;
    width: 20vw;
    padding: 1rem;
    border: 1px solid $grey;
    border-radius: 5px;
    font-size: 1rem;
    color: $white;
    transition: border-color 0.3s;
    transition: background-color 0.3s;
    font-family: $font-family;
    cursor: pointer;
    background-color: $primary;

    &:hover {
        border-color: $primary;
        background-color: darken($primary, 5%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}